html {
}
.prose {
  @apply max-w-none;
}
.prose h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
}

.prose > :first-child {
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 100%;
  cursor: pointer;
}

.prose .anchor:hover {
  @apply visible;
}

.prose .anchor:after {
  @apply text-muted-foreground;
  @apply sm:opacity-50 opacity-0;
  @apply content-['#'];
}

.prose *:hover > .anchor {
  @apply visible;
}

/* 代码背景色 */
.prose pre {
  @apply bg-gray-800;
  @apply sm:rounded-lg rounded-sm;
  @apply border-gray-700/50 border;
  @apply px-0;
}

.prose code [data-line] {
  @apply sm:text-sm text-[0.65rem];
  @apply sm:leading-[1.5rem] leading-[1.1rem];
}

/* 代码片段头部 */
.prose figcaption {
  @apply text-slate-400  sm:text-sm text-[0.7rem];
  @apply sm:h-12 h-8 py-0;
  @apply flex items-center;
}

/* 代码片段标题 */
[data-rehype-pretty-code-title] {
  @apply px-4 py-3 font-mono sm:text-sm text-[0.65rem];
  @apply font-medium border sm:rounded-t-lg rounded-t-sm;
  @apply border-gray-700/50 bg-gray-800;
}
[data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-t-none border-t-0;
}

/* 代码片段行号 */
.prose code {
  counter-reset: line;
}
[data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  text-align: left;
  @apply text-right text-slate-600 pr-3;
}

/* 代码片段中的 tag */
[data-highlighted-chars] {
  @apply rounded;
}

[data-chars-id] {
  @apply p-[0.1rem] border-b-[0.1rem];
  @apply sm:p-1  sm:border-b-2;
}

[data-chars-id='v'] {
  @apply !text-pink-300 bg-rose-800/50 border-b-pink-600 font-bold;
}

[data-chars-id='s'] {
  @apply !text-yellow-300 bg-yellow-800/50 border-b-yellow-600 font-bold;
}

[data-chars-id='i'] {
  @apply !text-purple-200 bg-purple-800/50 border-b-purple-600 font-bold;
}

[data-chars-id] span {
  @apply !text-inherit;
}

/* 代码片段行高亮 */
[data-line] {
  @apply sm:px-3 px-1 border-l-2 border-l-transparent;
}

[data-highlighted-line] {
  @apply bg-slate-500/40 border-l-blue-400;
}
