.prose {
  @apply max-w-none;
  @apply md:!leading-loose;
}

.prose video {
  @apply rounded-md;
}

.prose ul {
  @apply md:ps-4;
}

.prose li {
  @apply md:my-1;
}

.prose .anchor {
  @apply invisible absolute no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 100%;
  cursor: pointer;
}

.prose .anchor:hover {
  @apply visible;
}

.prose .anchor:after {
  @apply text-muted-foreground;
  @apply opacity-0 sm:opacity-50;
  @apply content-['#'];
}

.prose *:hover > .anchor {
  @apply visible;
}

/*  */
.prose blockquote {
  /* border-left-width: 4px; */
  @apply text-neutral-500 dark:text-neutral-400;
  @apply font-normal;
  @apply not-italic;
}

/* 代码背景色 */
.prose pre {
  @apply bg-gray-800;
  @apply rounded-sm sm:rounded-lg;
  @apply border border-gray-700/50;
  @apply px-0;
}

.prose code [data-line] {
  @apply text-[0.65rem] sm:text-sm;
  @apply leading-[1.1rem] sm:leading-[1.5rem];
}

/* 代码片段头部 */
.prose figcaption {
  @apply text-[0.7rem] text-slate-400 sm:text-sm;
  @apply h-8 py-0 sm:h-12;
  @apply flex items-center;
}

/* 代码片段标题 */
[data-rehype-pretty-code-title] {
  @apply px-4 py-3 font-mono text-[0.65rem] sm:text-sm;
  @apply rounded-t-sm border font-medium sm:rounded-t-lg;
  @apply border-gray-700/50 bg-gray-800;
}
[data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-t-none border-t-0;
}

/* 代码片段行号 */
.prose code {
  counter-reset: line;
}

[data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  text-align: left;
  @apply pr-3 text-right text-slate-600;
}

/* 代码片段中的 tag */
[data-highlighted-chars] {
  @apply rounded;
}

[data-chars-id] {
  @apply border-b-[0.1rem] p-[0.1rem];
  @apply sm:border-b-2 sm:p-1;
}

[data-chars-id='v'] {
  @apply border-b-pink-600 bg-rose-800/50 font-bold !text-pink-300;
}

[data-chars-id='s'] {
  @apply border-b-yellow-600 bg-yellow-800/50 font-bold !text-yellow-300;
}

[data-chars-id='i'] {
  @apply border-b-purple-600 bg-purple-800/50 font-bold !text-purple-200;
}

[data-chars-id] span {
  @apply !text-inherit;
}

/* 代码片段行高亮 */
[data-line] {
  @apply border-l-2 border-l-transparent px-1 sm:px-3;
}

[data-highlighted-line] {
  @apply border-l-blue-400 bg-slate-500/40;
}
